@{
    ViewData["Title"] = "Home Page";
}
@model IndexModel

<div class="text-center">
    <h1 class="display-4">Все пользователи</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @if (ViewBag != null && ViewBag.List != null)
    {
        @foreach (User elem in ViewBag.List)
        {
            <div>
                <p><b>@elem.Name</b></p>
                <span>@elem.About</span>
            </div>
        }
    }

    <br><br>
    <img src="~/Content/background.jpg" width="400" />
</div>
